.cms-crud-form .tab-content > .tab-pane {
    margin: 1em 0 2em;
}

.crud-field-img {
    max-width: 30%;
}

.crud-hide-caret .caret {
    display: none;
}

.crud-grid__sort-handle {
    text-align: center;
    cursor: move;
}

.cms-crud-grid .col-width-sm {
    width: 30px;
}

@media (min-width: 992px) {
    .cms-crud-grid.table-responsive {
        overflow: visible;
    }
}

@media (max-width: 767px) {
    .crud-field-img {
        max-width: 100%;
    }
}
